<div id="PageBuilderToolbar" class="top-barContainer">
    <nav class="top-bar pb-row">
        <ul class="pb-col-md-2">
            <li class="name pb-dropdown">
                <div class="logo pb-dropdown-toggle">
                    <a href="/admin/">
                        <img src="/Content/logo.png" alt="Edge Admin Logo" />
                    </a>
                    <span class="pb-caret"></span>
                </div>
                <ul class="pb-dropdown-menu">
                    <li><a href="/">Site Home</a></li>
                    <li><a href="/blog/">Site Blog</a></li>
                    <li><a href="/admin/">Admin Home</a></li>
                </ul>
            </li>
        </ul>

        <ul class="pagebuilder-controls">
            <li><i id="SavePageButton" class="pb pb-floppy-o"></i></li>
            <li><a href="/admin/pages/editcontent/" target="_blank"><i id="PageSettingsButton" class="pb pb-cog"></i></a></li>
            <li class="pb-dropdown">
                @{
                    MembershipUser u = Membership.GetUser(HttpContext.Current.User.Identity.Name);
                }
                <a href="#" class="pb-dropdown-toggle">@u.UserName</a>
                <span class="pb-caret"></span>
                <ul class="pb-dropdown-menu">
                    <li class="pb-dropdown-header">Actions</li>
                    <li>
                        <a href="/account/manage">Change Password</a>
                    </li>
                    <li>
                        <a href="/account/logoff">Logout</a>
                    </li>
                </ul>
            </li>   
        </ul>
    </nav>
</div>


<a id="EditPageButton" href="#" title="Edit Page"><i class="pb pb-pencil-square-o"></i></a>
<a id="PreviewPageButton" href="#" title="Preview"><i class="pb pb-eye"></i></a>