<div id="PageSettingsMenu">
    <div class="content container">
        <div class="innerContent">
        
            <a href="#" id="CloseSettingsButton"><i class="pb pb-times"></i></a>
            
            <div id="BuilderSettingsContents"></div>
        </div>
    </div>
</div>