<li class="schema-field field-list" data-id="{{SchemaFieldId}}" data-type="list">
    <label class="display-name group-label">{{DisplayName}}</label>

    <ul class="list-items">
        {{#each Fields}}
            {{{list-item this}}}
        {{/each}}
    </ul>
</li>