<li class="schema-field field-text" data-id="{{SchemaFieldId}}" data-type="text">
    <label class="display-name">{{DisplayName}}</label>
    <input class="field-value" type="text" value="" placeholder="{{Metadata.Placeholder}}" />
</li>