html,
body {
    font-size: 14px;
}

body {
    @include font(sans-serif);
	background: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
}

.contents {
    height: calc(100% - 57px);
}

.outer-wrapper {
    position: relative;
    min-height: 100%;

    .collapse-menu & {
        transition: transform 0.3s ease-in-out;
    }

    .sidebarOpen & {
        transform: translate3d(0, 0, 0);
    }

    .sidebarOpen.collapse-menu & {
        transform: translate3d(178px, 0, 0);
    }
}

.main {
    position: relative;
    padding: calc(3em - 20px) 3em 3em calc(220px + 3em);

    .collapse-menu & {
        padding: calc(3em - 20px) 3em 3em calc(42px + 3em);
    }
}