html,
body {
    font-size: 14px;
}

body {
    @include font(sans-serif);
	background: $color-light-gray;
    overflow-x: hidden;
    overflow-y: auto;
}

.contents {
    height: calc(100% - #{$navbar-height});
}

.outer-wrapper {
    position: relative;
    top: $navbar-height;
    width: calc(100% - #{$sidebar-width-expanded});
    height: calc(100% - #{$navbar-height});
    background: $color-light-gray;
    z-index: 10;
    transform: translate3d($sidebar-width-expanded, 0, 0);
}

.main {
    position: relative;
    width: 100%;
    padding: calc(3em - 20px) 3em 3em;
    background: $color-light-gray;
}