@*---
name: Full Width
template: blank
thumbnail: /content/themes/base/images/full-width.jpg
---*@

@*Optional Header Area*@
<div class="row">
    <div class="col-md-12"></div>
</div>

@*Right Rail, Left Content Area*@
<div class="row">
    <div class="col-md-12"></div>
</div>

@*Optional Footer*@
<div class="row">
    <div class="col-md-12"></div>
</div>