@*---
name: Left Rail With Footer
template: blank
thumbnail: /content/images/left-rail.jpg
---*@

@*Optional Header Area*@
<div class="row">
    <div class="col-md-12"></div>
</div>

@*Left Rail, Right Content Area*@
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8"></div>
</div>

@*Optional Footer*@
<div class="row">
    <div class="col-md-12"></div>
</div>