@*---
name: Pagebuilder Left Rail
template: pagebuilder
thumbnail: /content/images/left-rail.jpg
---*@

@*Left Rail, Right Content Area*@
<div class="row pb-section">
    <div class="col-md-4 pb-area"></div>

    <div class="col-md-8 pb-area"></div>
</div>