@using DirigoEdgeCore.Utils

@helper MediaDirectoriesTable() {
    var directories = Directory.GetDirectories(Server.MapPath(ContentGlobals.IMAGEUPLOADDIRECTORY));
    
    <table class="manageTable twelve bordered manageTable">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th class="items">Items</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var directory in directories)
            {
                var folder = directory.Split('\\').Last();
                <tr data-folder="@folder">
                    <td class="title">
                        <a href="/admin/media/managemedia/@folder.ToLower()/">@folder</a>
                    </td>
                    <td>
                        @Directory.GetFiles(directory).Length
                    </td>
                    <td>
                        <button class="btn  btn-danger btn-sm delete-media-folder" >Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}