@{
    ViewBag.Title = "Edge Plugins";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using System
@using System.Linq
@using DirigoEdgeCore.Utils
@model  DirigoEdge.Areas.Admin.Models.ViewModels.DashBoardViewModel

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-home"></i>Edge Plugins</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel dashboard-panel">
            <h3>Installed Plugins</h3>
            <ul>
                @foreach (var plugin in Model.InstalledPlugins)
                {
                    <li>@plugin.Key <span class="pull-right"> @plugin.Value</span></li>
                }
            </ul>
        </div>
    </div>
</div>