@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>Category</h4>

<div class="content">
    <select class="form-control catListing" id="simpleContained1Tab">
        @foreach (var cat in Model.Categories)
        {
            <option value="@cat.CategoryName" id="@cat.CategoryId" @(Model.ThisBlog.Category.CategoryId == cat.CategoryId ? "selected" : "")>
                @cat.CategoryName
            </option>
        }
    </select>
</div>