@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>Category</h4>

<div class="content container-fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#simpleContained1Tab" data-toggle="tab">All</a></li>
    </ul>

    <ul class="tab-content list-unstyled">
        @{
            if (Model.Categories.Any())
            {
                <li class="active catListing" id="simpleContained1Tab">
                    <form class="custom">
                        @{
                             int count = 0;
                             foreach (var cat in Model.Categories)
                             {
                                 count++;
                                 var inputId = "catCheckbox" + count;
                                 var isChecked = Model.ThisBlog.Category.CategoryId == cat.CategoryId;
                                 var catCheckInput = isChecked ? "checked=checked" : "";

                                 <label class="col-lg-3" for="@inputId">
                                     <input name="catGroup" value="@cat.CategoryName" type="radio" id="@cat.CategoryId" @catCheckInput autocomplete=off>
                                     @cat.CategoryName
                                 </label>
                             }
                        }
                    </form>
                </li>
            }
            else
            {
                <li class="">There are no categories.</li>
            }
        }
    </ul>
</div>