@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>SEO / Meta</h4>

<div class="content container-fluid">
    <div class="form-group">
        <label class="" data-toggle="tooltip" data-placement="top" title="Commonly used by search engines to display preview snippets for a given page.">Meta Description</label>
        <input id="MetaDescription" class=" form-control" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.MetaDescription">
    </div>
    <div class="form-group">
        <label class="" data-toggle="tooltip" data-placement="top" title="Open Graph : An image URL which should represent your object within the graph.">OGImage</label>
        <input class=" form-control" id="OGImage" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGImage">
        @*<a href="javascript:void(0);" data-toggle="modal" data-target="#SEOMetaModal">Set Meta Information</a>*@
    </div>
    <div class="form-group">
        <label>OGType</label>
        <input id="OGType" class=" form-control" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGType">
    </div>
</div>
