<div class="metadata-field">
    <label>Style</label>
    <select>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
        <option>Custom</option>
    </select>
    <input type="text" placeholder="classname" />
</div>