<li class="schema-field field-image" data-id="{{SchemaFieldId}}" data-type="image">
    <label class="display-name">{{DisplayName}}</label>
    <input class="field-value" type="text" value="" placeholder="{{Metadata.Placeholder}}" />
    <button class="btn btn-primary filebrowser">Choose Image</button>
    <img src="http://placehold.it/500x300">
</li>