@model DirigoEdgeCore.Models.ChangePasswordModel
@using SquishIt.Framework

<div class="container">
    <div class="six columns">
        <h1>Change Password</h1>

        <form name="ChangePasswordForm" id="ChangePasswordForm" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <label>New Password</label>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 form-group"><input type="password" id="Password" name="Password" class="form-control"></div>
                <div class="col-lg-2 loading"></div>
            </div>

            <label>Confirm Password</label>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 form-group"><input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"></div>
                <div class="col-lg-2 loading"></div>
                <div class="end col-lg-12 message"></div>
            </div>

            <input type="hidden" value="@Model.Key" name="Key" id="Key">

            <input type="submit" class="button" value="Change Password">
        </form>

    </div>
</div>

@section Scripts {

    @{
        var scripts = SquishIt.Framework.Bundle.JavaScript()
        .Add("~/scripts/resetPassword.js").Render("~/scripts/combined_rp_#.js");

    }

    @Html.Raw(scripts)
}