@model DirigoEdgeCore.Models.ChangePasswordModel
@using SquishIt.Framework

<div class="row">
    <div class="six columns">
        <h1>Change Password</h1>

        <form name="ChangePasswordForm" id="ChangePasswordForm" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <label>New Password</label>
            <div class="row form-group">
                <div class="ten columns"><input type="password" id="Password" name="Password" /></div>
                <div class="two columns loading"></div>
            </div>

            <label>Confirm Password</label>
            <div class="row form-group">
                <div class="ten columns"><input type="password" id="ConfirmPassword" name="ConfirmPassword" /></div>
                <div class="two columns loading"></div>
                <div class="ten end columns message"></div>
            </div>

            <input type="hidden" value="@Model.Key" name="Key" id="Key" />

            <input type="submit" class="button" value="Change Password" />
        </form>

    </div>
</div>

@section Scripts {

    @{
        var scripts = SquishIt.Framework.Bundle.JavaScript()
        .Add("~/scripts/resetPassword.js").Render("~/scripts/combined_rp_#.js");

    }

    @Html.Raw(scripts)
}