@using DirigoEdgeCore.Utils.Extensions
@model DirigoEdgeCore.Models.ResetPasswordModel

<div class="row">
    <div class="col-md-6 col-sm-12">
        <hgroup class="title">
            <h1>Reset Password</h1>
        </hgroup>

        <div class="relative">
            @Html.RenderUserContentModuleWithOnScreenEditors("reset-password-info")
        </div>

        <form name="ResetPasswordForm" id="ResetPasswordForm" method="POST">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <label>Enter your email</label>
            @*<div class="row form-group">
                <div class="ten columns"><input type="text" name="Email" id="Email" placeholder="jsmith@smith.com" /></div>
                <div class="two columns"><input type="submit" id="ValidateEmail" value="VALIDATE" class="button small form" /></div>
            </div>*@

            <div id="ErrorMessage"><span class="alert"></span></div>
            <div id="SecretQuestion" class="row form-group">
                <label></label>
                @*<input type="text" name="Answer" id="Answer" />*@
                <input type="text" name="Email" id="Email" placeholder="jsmith@smith.com" />
                <input type="submit" value="Reset Password" class="button" />
            </div>
        </form>

    </div>
</div>

@section Scripts {

    @{
        var scripts = SquishIt.Framework.Bundle.JavaScript()
        .Add("~/scripts/resetPassword.js").Render("~/scripts/combined_rp_#.js");
    }


    @Html.Raw(scripts)
}