@using DirigoEdgeCore.Utils
@model DirigoEdge.Areas.Admin.Models.ViewModels.EditSchemaViewModel

@{
    ViewBag.Title = "Edit Schema";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="editContent" data-id="@Model.TheSchema.SchemaId">
    <div class="row">
        <div class="col-xs-12">
            <h3>Edit Schema @Html.Partial("Partials/BookmarkButtonPartial")</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <div class="schema-name">
                <input id="SchemaName" class="form-control input-lg" placeholder="Schema Name" type="text" value="@Model.TheSchema.DisplayName" autocomplete="off"/>
            </div>

            <div class="schema">
                <ul class="schema-fields">
                    <li class="schema-field field-list">
                        <div class="group-label">Slides</div>
                        <ul class="schema-fields">
                            <li class="schema-field field-image">
                                <label>Image Field</label>
                                <input type="text" value="http://fillmurray.com/500/300"/>
                                <button class="btn btn-primary filebrowser">Choose Image</button>
                                <img src="http://fillmurray.com/500/300">
                            </li>
                            <li class="schema-field field-text">
                                <label>Headline</label>
                                <input type="text" />
                            </li>
                        </ul>
                    </li>
                    <li class="schema-field field-text">
                        <label>Headline</label>
                        <input type="text"/>
                    </li>
                    <li class="schema-field field-text">
                        <label>Headline</label>
                        <input type="text"/>
                    </li>
                    <li class="schema-field field-text">
                        <label>Headline</label>
                        <input type="text" />
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-3">
            <div class="panel container-fluid">
                <h4>Settings</h4>

                <div class="saveContainer">
                    <button id="SaveSchemaButton" class="btn btn-primary mobileMarginBottom">Save Schema</button>
                    <div id="SaveSpinner" class="standaloneSpinner"></div>
                </div>
            </div>

            <div class="panel container-fluid">
                <h4>Fields Of Dreams</h4>

                <div class="field-buttons">
                    <ul>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-font"></i> Text</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-picture-o"></i> Image</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-paragraph"></i> Paragraph</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-pencil"></i> WYSIWYG</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-square-o"></i> Checkboxes</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-circle-o"></i> Multiple Choice</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-calendar"></i> Date</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-caret-down"></i> Dropdown</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-caret-down"></i> Module</div>
                        </li>
                        <li>
                            <div class="btn btn-primary field-button"><i class="fa fa-list"></i> List</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



        @section Styles {

        }

        @section Scripts {

            @*<script src="/Areas/Admin/Scripts/schemaEditor.js"></script>*@

            <script>
                // Setup the data for loading
                ODATA = @Html.Raw(Model.TheSchema.JSONData);

                $(function() {
                    $(".schema ul").sortable({
                        connectWith: ".schema ul",
                        placeholder: "ui-state-highlight"
                    });

                    $(".field-buttons ul").sortable({
                        connectWith: ".schema ul",
                        placeholder: "ui-state-highlight",
                        start: function (event, ui) {
                            ui.item.clone().removeAttr('style').addClass('clone').insertAfter(ui.item);
                        },
                        beforeStop: function(event, ui) {
                            $(this).sortable("option", "selfDrop", $(ui.placeholder).parent()[0] === this);
                        },
                        stop: function (event, ui) {
                            var $sortable = $(this);

                            if ($sortable.sortable("option", "selfDrop")) {
                                $('li.clone', this).remove();
                                $sortable.sortable('cancel');
                            } else {
                                $('li.clone', this).removeClass('clone');
                            }
                        }
                    }).disableSelection();
                });

            </script>
        }
