<div id="RevisionDetailModal" class="modal large">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Revision Details.</h2>
            </div>
            <div class="modal-body">
                <div class="content container-fluid">
                    <textarea id="RevisionArea" rows="18"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="SwitchRevision">Switch to this revision</a>
            </div>
        </div>
    </div>
</div>