h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}

h3 i {
    padding-right: 0.5em;
}

table {
    width: 100%;    
}

ul {
    padding: 0;
}

.navbar {
    border: none;
}

.navbar .navbar-brand {
    height: 57px;
}

.navbar-header .navbar-toggle {
    padding: 8px 11px;
    border-color: transparent;
}

.navbar-header .navbar-toggle i {
    font-size: 1.3em;
    color: white;
}

@media (min-width: 768px) {
    #admin-navbar .navbar-nav > li {
        float: right;
    }
}

.username .userIcon {
    background: url("./Images/User_white.png") repeat scroll 0 0 / 20px auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    opacity: 0.9;
    position: relative;
    top: 5px;
    width: 20px;
}

div.tipContainer {
	margin: 20px 0;
	color: #888;
}
div.tipContainer kbd {
	margin-right: 4px;
}
ul.quickActions {
	margin-left: 20px;
}
/** Login Page **/
input.modifyPasswordButton, input.registerUserButton {
	margin-left: 18px;
}
/** jQueryUI Override **/
#ui-datepicker-div {
	min-width: 202px;
	border-radius: 0 0 0 0;
    box-shadow: 4px 4px 4px #999999;
	border: 1px solid #CCCCCC;
}

#ui-datepicker-div .ui-widget-header {
    background: none repeat scroll 0 0 #372F2C;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

#ui-datepicker-div .ui-widget-header .ui-icon {
	background-image: url("/areas/admin/scripts/jqueryui/css/smoothness/images/ui-icons_ffffff_256x240.png");
}

#ui-datepicker-div .ui-state-default {
	background: #fff;
}
#ui-datepicker-div a.ui-datepicker-prev.ui-state-hover, #ui-datepicker-div a.ui-datepicker-next.ui-state-hover {
	background: #666;
	cursor: pointer;
	top: 2px;
}
.ui-state-highlight {
	border: 1px solid #089FC9;
}


table.ui-datepicker-calendar th {
    padding: 0.7em 0.1em;
}
div.row.header {
    overflow:visible;
}
.top-barContainer {
    background:url(./Images/debut_dark.png) #444;
}
nav.top-bar {
	background:url(./Images/debut_dark.png) #444;
    margin:0;
}
.top-bar ul.right .has-dropdown .dropdown {
	right: 0;
}
#ManageUserTableContainer {
    clear:both;
}
#ManageUserTableContainer td.imageLocation {
	text-align: center;
}
#DeleteUserButton, #ConfirmBlogDelete, .confirmDeleteButton {
    margin-left:12px;
}
.saveTip {
    clear:both;
    margin-top:8px;
    font-size:12px;
    color:#444;
}

#PublishDate {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: inline;
    padding: 0;
    width: auto;
    font-size:12px;
    color:#089FC9;
    text-decoration:underline;
}
table.bordered {
    border:1px solid #CCC;
    box-shadow:0 0 4px #CCC;
}
div.panel.categories ul li.catListing form.custom {
    max-height:150px;
    overflow:auto;
}
/** Content Admin **/
#SaveContent.btn {
    margin:12px 0;
}

input#PageName {
    margin-bottom:4px;
}
div.urlTip {
    margin-bottom:12px;
    margin-left:4px;
    font-size:12px;
    color:#444;
}
#InsertContentImage {
	position: absolute;
	right: 15px;
	top: 90px;
    font-weight:normal;
}

#InsertContentImage.moduleButton {
    top: 0px;
}

/** Admin Content Editors **/
div.addBlog.module div.blogTitle , 
div.editBlog.module div.blogTitle,
div.editEvent.module div.eventTitle,
div.editContent div.contentTitle {
	margin-bottom:18px;   
	font-size:13px;
	color:#666;
}
div.addBlog.module div.blogTitle input, 
div.editBlog.module div.blogTitle input,
div.editContent div.contentTitle input {
    margin-bottom:4px;
    color:#333;
}
div.addBlog.module div.blogTitle span.permHint,
div.editBlog.module div.blogTitle span.permHint,
div.editEvent.module div.eventTitle span.permHint,
div.editContent span.permHint {
    margin-left:4px;
    font-weight:bold;
}
#PermaLinkEnd {
    text-transform:lowercase;
    background-color:#FFFBCC;
}
#EditPermaLink, #ViewPermaLink {
    margin-left:10px;
}
#PermaLinkEditPane {
    box-shadow: none;
    display: inline;
    font-size: 12px;
    height: auto;
    line-height: 0 !important;
    padding: 4px 2px;
    text-transform: lowercase;
    width: auto;
}
div.addBlog div.editArea a.btn, div.editBlog div.editArea a.btn,
div.addEvent div.editArea a.btn, div.editEvent div.editArea a.btn {
	margin-top:12px;   
}
#popTitle {
    font-weight:bold;
}
#DeleteModal #Confirm {
    margin-left:10px;
}
/** ADMIN AREA **/
ul.adminList li {
	margin-bottom:10px;   
}
ul.tabs-content.contained li {
	background:#FFF;   
}



#sidebar ul.tabs li a,
.sidebar ul.tabs li a {
    border-left: 3px solid transparent;
}

#sidebar ul.tabs li a:hover,
.sidebar ul.tabs li a:hover,
.sidebar ul.tabs li a.active {
    background: #f9f9f9;
    color:#333;
    border-left: 3px solid  #2BA6CB;
}
#ConfirmFeatImage {
    margin-top:8px;
}

div.manageBlogs table td.actions { min-width:166px; }

.newContentButton,
#NewContentPage, 
#NewBlogPage,
#NewEventPage,
#NewContentModule {
	position:absolute;
	right:15px;
	top:10px;
}
@media all and (max-width: 767px) {
    .newContentButton {
        position: static;
        margin: 0 auto 20px auto;
        float: none !important;
    }
    }
#EditorThemeContainer {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 260px;
}
#EditorThemeContainer label {
	display: inline;
}
#EditorTheme {
	width: 200px;
}

#SaveSpinner { float: left;top: -7px; }

/** Stock Image Holder **/
#StockImageHolder {
	max-height:253px;
	overflow-y:auto;
	overflow-x:hidden;
}
#StockImageHolder a {
	display: block;
	float: left;
	width: 170px;
	border:4px solid #FFF;
}
#StockImageHolder a:hover {
	cursor:pointer;
	border:4px solid #2BA6CB;
}
#StockImageHolder img {
	height:54px;
}

#FeaturedImageModal .alt {
	margin-top: 12px;
}

.saveContainer .btn {
	margin: 5px 5px 10px 0;
    font-weight: normal;
}
.confirmModalButton {
	margin-left: 12px;
}
.modifyPasswordButton {
	margin-left: 20px;
}
#popTitle { margin-right: 4px; }
/** SlideShow Editor **/
#SlideEditList {
	counter-reset: li; /* Initiate a counter */
	margin-left: 0;
}
#SlideEditList li.slideContainer {
	border: 1px dashed #DDDDDD;
	margin-bottom: 12px;
	margin-left: 20px;
	padding: 10px 18px 5px 18px;
}
#SlideEditList div.imageSetContainer {
	margin-bottom: 5px;
}
#SlideEditList div.imageSetContainer input {
	margin-bottom: 2px;
}
#SlideEditList li.slideContainer:nth-child(even) {
	background-color: #F2F2F2;
}
form.slideActionList {
	margin-top: 20px;
}
#SlideEditList > li {
    position:relative;
    margin:0 0 6px 2em;
    padding:4px 8px;
    list-style:none;
    border-top:2px solid #666;
    background:#f6f6f6;
}
#SlideEditList > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    top:-2px;
    left:-2em;
    width:2em;
    margin-right:8px;
    color:#555;
    font-weight:bold;
    text-align:center;
	font-size: 14px;
}

/** Media Upload **/
#UploadedMediaListing {
	overflow: hidden;
	padding: 10px;
	margin: 0;
}
#UploadedMediaListing li {
	list-style: none;
	float: left;
	max-width: 120px;
	margin-right: 8px;
}
img.constrained {
	max-width: 280px;
	width: 100%;
}
span.tooltip img.constrained {
	max-width: 800px;
}

#UploadedMediaListing li img {
	width: 100%;
}

/** Site Settings **/
div.settingsComment {
	margin: 6px 0 10px 0;
	font-style: italic;
	color: #666;
	font-size: 12px;
}
input.commentBelow {
	margin-bottom: 2px;
}

div.editArea {
	margin-bottom: 20px  !important;
}
#CategoriesModule span.catName {
	margin-left: 4px;
}
/* Give extra space to drop elements below*/
@media all and (min-width: 768px) {
    #Sortable1 { padding-bottom: 150px; }
    #Sortable2 { padding-bottom: 100px; }
}


div.connectedSortable div.panel {
	padding-top: 4px;
	padding: 0;
}

div.connectedSortable div.panel h4 {
	border-bottom: 1px solid #E6E6E6;
	cursor: move;
	margin: 0 0 15px;
	padding: 10px 20px;
	background: url("./Images/collapse.png") no-repeat scroll right 14px transparent;
	font-weight: 300;
}
div.connectedSortable div.panel p, div.connectedSortable div.panel label {
	font-weight: 300;
}
div.connectedSortable div.panel h4:hover {
	border-bottom:1px solid #DDD;
	color: #000;
	box-shadow: 0px 0px 8px #FFF inset;
}

div.connectedSortable div.panel.collapsed h4 {
	background: url("./Images/expand.png") no-repeat scroll right 14px transparent;
	margin-bottom: 0 !important;
	border: none;
}

div.connectedSortable div.panel div.content {
	padding: 0 20px 20px 20px;
	height: auto;
}

div.connectedSortable div.panel.collapsed div.content {
	height: 0;
	padding: 0;
	overflow: hidden;
}
ul.imageList li {
	list-style: none;
	float: left;
	width: 33.333%;
	padding: 5px;
	
}

ul.imageList li img {
	border: 1px solid #CCC;

}

ul.imageList li span.container {
	position: relative;
	background: transparent;
	overflow: hidden;
}

ul.imageList li span.container:hover span {
	left: 0;
}

ul.imageList li span {
	background: rgba(0, 0, 0, 0.7);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 200ms ease-in-out;
}

ul.imageList li span.container span {
	left: -100%;
}

ul.imageList li a {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	margin-left: 10px;
	margin-top: 12px;
	display: inline-block;
}

ul.imageList li a:hover {
	text-decoration: underline;
}

/*Site Settings*/
div.siteSettings div.custom.dropdown {
	display: inline-block;
}

div.siteSettings div.row {
    overflow: visible;
}

/*New Page listing*/
div.newPageTemplateListing ul li {
	float: left;
	list-style: none outside none;
	margin-right: 24px;
	max-width: 178px;
}

div.newPageTemplateListing ul li a {
	display: inline-block;
	text-align: center;
	transition: all 300ms ease-in-out;
	
}

div.newPageTemplateListing ul li a:hover {
	
}

div.newPageTemplateListing ul li a img {
	border: 3px solid #FFF;
}

div.newPageTemplateListing ul li a.active img {
	border: 3px solid #00C7FF;

}

div.newPageTemplateListing ul li a img {
	width: 100%;
	margin-bottom: 8px;
}

/** New Module **/
#ChangeImageThumbnail img {
	margin-bottom: 8px;
}

/*User Roles*/
#UserListing .tabs dd.active {
    margin-top: -4px;
    border-bottom: 1px solid #F2F2F2;
}
ul.userList {
    height: 220px;
    overflow: auto;    
    border-radius: 2px;
    margin: 0;
}

ul.userList li {
    list-style: none;
    border-bottom: 1px solid #CCC;
    padding: 8px;
}

ul.userList li:nth-child(even) {
    background-color: #fafafa;
}

ul.userList li:hover {
    cursor: pointer;
    background-color: #ddd;
}

    ul.userList li label {
        display: inline;
        font-size: 16px;
    }

    ul.tabs-content.contained.noPadding > li {
        padding: 0;
    }

#PublishModule { margin-top: 20px; }
h2.left i.fa { color: #444; }

/** Draft Status **/
div.contentStatus {
    clear: both;
    margin: 12px 0;

}
.contentStatus label {
    position: relative;
    top: 4px;
    margin-right: 12px;
    font-size: 12px;
    color: #444;
}

.contentStatus select {
    width: auto;
}
#DraftStatusContainer {
    display: none;
    margin-top: 10px;
}
#CloseDraftStatus {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
div.alert a {
    color: #fff;
    text-decoration: underline;
}
.topAlert {
    margin-top: 20px;
}
.contentTitle tester {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.secondary.btn.dropdown:after {
    border-color: #555 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.secondary.btn.dropdown i {
    color: #555555;
    font-size: 16px;
    line-height: 8px;
    position: relative;
    top: 2px;
}

div.panel .panelActions {
    color: #999;
    margin-top: 6px;
    font-size: 12px;
}
.confirmButton {
    margin-left: 12px;
}

.badge {
  background-color: #bbb;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 10px;
  margin: 3px 4px 0;
  padding: 1px 8px 2px;
  text-align: center;
}

/** Common Tags */
ul.commonTags { list-style: none;overflow: hidden; }
ul.commonTags li { float: left; margin: 0px 5px;}

.modal .roleListing label {
    padding: 10px;
}


.dashboard-panel {
    padding: 10px;
    min-height: 240px;
}

.dashboard-panel h3 {
    text-align: center;
}

.dashboard-panel ul {
    list-style: none;
    margin-top: 20px;
}

.dashboard-panel ul li {
    
}

.dashboard-panel ul li:hover {
    background-color: #428BCA;
}

.dashboard-panel ul li a {
    padding: 3px 10px;
    display: block;
    text-decoration: none;
}

.dashboard-panel ul li:hover a {
    color: #fff;
}

.navbar {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0;
}

.rolePermissionsList {
    margin-left: 0;   
}

.rolePermissionsList li {
    float: left;
    padding: 5px;
    width: 33%;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.navbar-inverse .navbar-nav .header-bookmarks > a {
    display: block;
    padding: 18px 1em;
}

.navbar-inverse .navbar-nav .header-bookmarks .fa-bookmark {
    padding-right: 0.5em;
}

.bookmark-toggle .fa-bookmark {
    position: relative;
    padding: 0 0.5em;
    font-size: 1em;
    color: #aaa;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}

.bookmark-toggle .fa-bookmark:hover {
    cursor: pointer;
}

.bookmark-toggle .fa-bookmark:after {
    content: "\f02e";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #e6c300;
    opacity: 1;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.bookmark-toggle .fa-bookmark.is-bookmarked {
    color: #e6c300;
    -webkit-animation: bookmark-wiggle 0.4s ease-in-out;
            animation: bookmark-wiggle 0.4s ease-in-out;
}

.bookmark-toggle .fa-bookmark.is-bookmarked:after {
    font-size: 4em;
    opacity: 0;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    pointer-events: none;
}

@-webkit-keyframes bookmark-wiggle {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes bookmark-wiggle {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

.sync-schema-view {
    transition: color 0.3s ease-in-out;
    .is-syncing {
        color: rgba(43, 166, 203, 0.7);
        i {
            opacity: 1;
        }
    }
    i {
        color: #222;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}