.dataTable {

    tr.altered.even {
        background-color: #f7f7f7;
    }
    
    .title a {
        display: block;
        width: 35em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}