.file-browser {
    .modal-content {
        overflow: hidden;
    }

    .modal-body {
        height: 500px;
        padding: 0;
    }

    .modal-footer {
        padding: 0;
    }

    .browser {
        width: 100%;
        line-height: 1.5;

        .folders {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 2em;
            width: (12 / 0.9) * 1em;
            font-size: 0.9em;
            z-index: 9999;
            border-right: 2px solid #CCC;
            overflow: auto;

            li {
                @extend .clearfix;
                display: block;
                border-left: 3px solid transparent;

                &:hover,
                &.active {
                    border-left: 3px solid #2ba6cb;
                    background: #f7f7f7;
                    color: #222;
                }

                .folder-actions {
                    width: 2em;
                    text-align: center;
                    float: left;

                    i {
                        padding: 1em 0.5em;
                    }

                    .js-delete {
                        display: none;
                        cursor: pointer;

                        &:hover {
                            color: #d00;
                        }
                    }
                }

                &:hover {
                    .js-delete {
                        display: inline-block;
                    }
                        
                    .js-folder {
                        display: none;
                    }
                }

                .delete-actions {
                    @extend .clearfix;
                    position: relative;
                    width: calc(100% + 5px);
                    height: 0;
                    margin-left: -3px;
                    line-height: 3;
                    overflow: hidden;
                    transition: height 0.1s ease-in-out;

                    &.is-active {
                        height: 3em;
                    }

                    button {
                        display: block;
                        width: 50%;
                        border: none;
                        float: left;

                        &:focus {
                            border: none;
                            outline: none;
                        }

                        &.delete-cancel {
                            background: #ddd;
                        }

                        &.delete-confirm {
                            background: #b00;
                            color: white;
                        }
                    }
                }
            }

            li a {
                display: block;
                width: calc(100% - 2em);
                padding: 0.75em 0.1em;
                overflow: hidden;    
                text-decoration: none;
                color: inherit;

                i {
                    position: relative;
                    top: 2px;
                    display: block;
                    line-height: 1.5;
                    float: left;
                }

                .folder-name {
                    display: block;
                    width: calc(100% - 4.5em);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    float: left;
                }

                .folder-count {
                    display: block;
                    margin-top: 0.5em;
                    float: right;
                }
            }

            i {
                color: #555;
            }
        }

        .add-folder {
            position: absolute;
            bottom: 0;
            width: 13.3333em;
            height: 2em;
            font-size: 0.9em;
            line-height: 2;
            text-align: center;
            color: white;
            cursor: pointer;
            overflow: hidden;
            z-index: 9999;
            transition: height 0.1s ease-in-out;

            .add-folder-toggle {
                background: #428bca;
                color: white;
                transition: background 0.1s ease-in-out,
                            color 0.1s ease-in-out;

                i {
                    position: absolute;
                    top: 0.5em;
                    left: 0.5em;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease-in-out;
                }
            }

            &.is-active {
                height: 7.1em;

                .add-folder-toggle {
                    background: #ddd;
                    color: black;

                    i {
                        transform: rotate(45deg);
                    }
                }
            }

            input {
                width: 100%;
                padding: 0 0.5em;
                border: 3px solid #428bca;
                color: black;
            }

            button {
                width: 100%;
                border: 0;
                border-radius: 0;
            }
        }
    }

    .toolbar {
        padding: 1em 1.5em;
        background: #eee;
        text-align: center;
        color: #888;
        cursor: pointer;

        button.btn {
            font-size: 14px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .file-browser-dropzone {
        display: block;
        margin: 0 1em;
        top: 2em;
    }

    .dropzone.file-browser-dropzone {
        min-height: 68px;
        padding: 0;
    }

    .browser .files {
        /*position: relative;*/
        height: 100%;
        padding-left: 12em;
        font-size: inherit;
    }

    .browser .files .close-modal {
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        background: rgba(0, 0, 0, 0.2);
        font-size: 1.25em;
        line-height: 2;
        text-align: center;
        text-shadow: none;
        color: white;
        cursor: pointer;
    }

    .browser .files .close-modal:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    .browser .files__list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 12em;
        right: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        opacity: 0;
        transition: opacity 0.2s ease-in-out,
                    top 0.2s ease-in-out;
    }

    .browser .files__list.active {
        opacity: 1;
    }

    .browser .files__list li {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .browser .files__list li:nth-child(even) .file {
        background: #f7f7f7;
    }

    .browser .files__list li .file {
        display: block;
        position: relative;
        width: 100%;
        padding: 1em 1em 1em 4em;
        background: white;
        text-decoration: none;
        color: inherit;
    }

    .browser .files__list li .file i {
        width: 1.5em;
        margin-right: 0.5em;
        text-align: center;
    }

    .browser .files__list li > .file-thumbnail {
        display: block;
        position: absolute;
        width: 3.5em;
        height: 3.5em;
        overflow: hidden;
        z-index: 1;
    }

    .browser .files__list li > .file-thumbnail img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: none;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .browser .files__list li > .file-thumbnail > i {
        width: 100%;
        background: #e8a17d;
        font-size: 1.5em;
        line-height: 57px;
        text-align: center;
        color: white;
    }

    .browser .files__list li > .file-thumbnail .zoom {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .browser .files__list li > .file-thumbnail .zoom:hover {
        opacity: 1;
    }

    .browser .files__list li > .file-thumbnail .zoom i {
        width: 100%;
        font-size: 1.5em;
        line-height: 2.3333;
        text-align: center;
        color: white;
    }

    .browser .files__list .insert {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 6em;
        margin-top: -3em;
        padding: 2.2em 0.5em;
        background: #2ba6cb;
        font-size: 14px;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .browser .files__list li .file-delete {
        padding: 0 1em;
        font-size: 0.8em;
        color: #ccc;

        &:hover {
            color: #d00;

            .file-delete-label {
                display: inline;
            }
        }

        i {
            width: auto;
            margin: 0;
        }

        .file-delete-label {
            display: none;
        }
    }

    .csstransforms .browser .files__list .insert {
        margin-top: 0;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .browser .files__list .insert:hover {
        background: white;
        color: #2ba6cb;
    }

    .browser .files__list .file .insert {
        width: 7em;
    }

    .browser .files__list .settings {
        position: relative;
        width: 100%;
        max-height: 0;
        padding: 0 6em 0 0;
        background: #eee;
        font-size: 0.75em;
        color: #222;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .browser .files__list .settings.active {
        max-height: 6em;
    }

    .browser .files__list .settings .input-group {
        display: inline-block;
        margin-right: 2em;
    }

    .browser .files__list .settings label {
        display: inline-block;
        margin: 0;
        color: inherit;
        transition: background 0.2s ease-in-out;
    }

    .browser .files__list .settings label.input-error,
    .browser .files__list .settings label.input-error .input-label {
        background: #E94949;
    }

    .browser .files__list .settings .input-label {
        display: inline-block;
        padding: 0.5em 1em;
        background: #ddd;
        color: inherit;
    }

    .browser .files__list .settings input {
        margin: 0 1em;
        border: 1px solid #ccc;
        color: #222;
    }

    .browser input {
        width: auto;
        height: auto;
        border-radius: 0;
        box-shadow: none;
        display: inline;
        font-size: inherit;
        padding: 0;
    }
}

