.navbar {
    position: fixed;
    width: 100%;
    border: none;
    z-index: 100;

    .navbar-brand {
        height: 57px;
    }

    .navbar-header .navbar-toggle {
        padding: 8px 11px;
        border-color: transparent;
    }

    .navbar-header .navbar-toggle i {
        font-size: 1.3em;
        color: white;
    }

    .sidebar-toggle {
        display: none;
        padding: 13px 14px 14px;
        border: 0;
        background: none;
        font-size: 1.5em;
        color: white;
        float: left;

        @include bp(medium) {
            display: block;
        }
    }

    @media (min-width: 768px) {
        #admin-navbar .navbar-nav > li {
            float: right;
        }
    }
}
