#FieldEditorContainer {
    padding: 1.5em;
    background: white;
}

.requiredToken {
    color: #ff0000;
}
.labelDescription {
    font-size: 12px;
    position: relative;
    top: -5px;

    .wysiwyg & {
        top: 5px;
    }
}

.formContainer {
    margin-bottom: 1.5em;

    select { margin-bottom: 12px; }
    &.small input[type=text] { max-width: 280px; }
    &.medium input[type=text] { max-width: 560px; }
}

.requiredToken {
    color: #ff0000;
}
.labelDescription {
    font-size: 12px;
    position: relative;
    top: -5px;
}
.wysiwyg .labelDescription { top: 5px; }

.formContainer { margin-bottom: 12px; }
.formContainer select { margin-bottom: 12px; }
.formContainer.small input[type=text] { max-width: 280px; }
.formContainer.medium input[type=text] { max-width: 560px; }

.formContainer.small {
    font-size: 1rem;
}

#FieldEntry .formContainer.image .upload.button {
    float: left;
    position: relative;
    top: 2px;
    margin-left: 12px;
    font-weight: normal;
}

#FieldEntry .formContainer.image input[type="text"] {
    float: left;
    max-width: 426px;
}
#FieldEntry .formContainer.image { overflow: hidden; }

#FieldEntry .formContainer.date { position: relative; }
#FieldEntry .formContainer.date i  { position: absolute; top: 35px; left: 255px; pointer-events: none; }

#FieldEntry {
    > ol {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .formContainer.image {
        overflow: hidden;

        .upload.btn {
            float: left;
            position: relative;
            top: 2px;
            margin-left: 12px;
            font-weight: normal;
        }

        input[type="text"] {
            float: left;
            max-width: 426px;
        }
    }

    label {
        display: block;
    }
}

.listContainer {
    position: relative;
    min-height: 120px;
    border-left: 5px solid #CCC;
    margin-bottom: 10px;
    padding: 35px 30px 20px;
}

.listContainer,
.listContainer label {
    background: #f7f7f7;
}

a.newListItem {
    margin-bottom: 10px;
}

.listControls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 25px;
    padding: 2px 8px;
    background: #AAA;
    color: #fafafa;
    cursor: move;
}

.listControls:hover {
    background-color: #777;
}

.listControls .remove {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}