.schema {
    margin: 2em 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .ui-state-highlight {
        min-height: 3em;
    }

    .schema-field {
        width: 100%;
        margin: 1em 0;
    
        &-medium {
            width: 66.6667%;
        }
    
        &-half {
            width: 50%;
        }
    
        &-small {
            width: 33.3333%;
        }
    
        &-float {
            float: left;
        }
    
        label {
            display: block;
            margin-bottom: 0.25em;
        }
    
        input,
        select,
        textarea {
            display: block;
            width: 100%;
            padding: 0.25em 0.5em;
            border: 1px solid #ccc;
        }
    
        &.field-image {
            @extend .clearfix;
        
            input {
                width: calc(100% - 10em);
                margin-right: 1em;
                float: left;
            }
            button {
                width: 9em;
            }
        
            img {
                width: 10em;
                margin: 1em 0;
            }
        }
    }

    .field-list,
    .field-group {
        position: relative;
        margin: 2em 0;
        padding: 1em 2em;
        border: 1px solid #ccc;
        background: #fff;
    
        .group-label {
            position: absolute;
            top: -0.8em;
            left: 1rem;
            padding: 0 1em;
            font-size: 0.8em;
            font-weight: bold;
            background: #f7f7f7;
        }
    
        > .fields {
            margin: 0;
        }
    
        &.group-flex {
            padding: 1em 2em 2em;
        
            .fields {
                margin: 0 -1em;
            }
        
            > .fields,
            .list-items {
                display: flex;
                justify-content: space-between;
            }
        
            &.group-flex-wrap {
                > .fields,
                .list-items {
                    flex-wrap: wrap;
                }
            }
        
            &.list > .fields {
                display: block;
            }
        
            .field {
                margin-left: 1em;
                margin-right: 1em;
            }
        }
    
        .group-collapsed {
            height: 0;
            padding: 0;
            cursor: pointer;
        
            .fields {
                display: none;
            }
        }
    
        .list-items {
            padding: 0.5em 0;
        
            &:only-child {
                padding: 0;
            }
        
            &:first-child {
                padding-top: 0;
            }
        
            + .list-items {
                border-top: 1px solid #ccc;
            }
        }
    }
}

.field-selector {
    margin: 0 -0.25em 0.5em;
    
    ul {
        @extend .clearfix;
        list-style: none;
        margin: 0;
        padding: 0;
        columns: 2;
        column-gap: 0.5em;

        li {
            margin-bottom: 0.5em;
        }
    }

    .ui-state-highlight {
        display: none;
    }

    .clone {
        opacity: 0.7;
    }

    .field-button {
        display: block;        
        font-size: 0.8667em;

        i {
            margin-left: -1.25em;
            padding-right: 0.25em;
            opacity: 0.6;
        }
    }

    .ui-sortable-helper {
        width: 100% !important;
        height: 4em !important;
        border: 1px solid #ccc;
        background: #fff;
        opacity: 0.9;

        &:before {
            content: 'Put Me Somewhere';
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: bold;
            text-transform: lowercase;
            color: #ccc;
            transform: translate(-50%, -50%);
        }

        .field-button {
            display: none;
        }
    }
}