.sidebar {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    width: $sidebar-width-expanded;
    padding: 33px 0;
    border-right: 2px solid #ddd;
    background: $color-gray;
    font-size: 16px;
    overflow: auto;

    > ul {
        margin: 0;

        .toggle-sidebar {
            position: relative;
            top: -1em;
            border: none;
        }

        .back-sidebar {
            position: relative;
            top: 1em;
            border: none;
        }
    }

    .nav-stacked > li + li {
        margin: 0;
    }

    > .nav {

        > .divider {
            border: 1px solid #ddd;
        }

        a {
            position: relative;
            padding: 12px 5px;
            font-size: 0.9em;
            color: #444;
            overflow: hidden;

            &.active:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 3px;
                background: $color-edge;
            }

            &:hover {
                background: #ddd;
                color: $color-black;
            }

            &[data-toggle="collapse"] {
                background: #ddd;
                color: $color-black;
            }

            &[data-toggle="collapse"].collapsed {
                background: $color-gray;
                color: $color-black;
            }

            &[data-toggle="collapse"].collapsed:hover {
                background: #ddd;
                color: $color-black;
            }

            > i {
                position: relative;
                top: 1px;
                width: $sidebar-width-collapsed;
                font-size: 1.25em;
                text-align: center;
            }
        }

        > li:nth-child(even) {
            > a,
            > a[data-toggle="collapse"].collapsed {
                background: #e5e5e5;
            }
        }

        .collapse,
        .collapsing {
            background: $color-light-gray;

            a {
                padding-left: 30px;
                color: $color-black;

                &:hover {
                    background: #ddd
                }
            }
        }
    }
}