@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
        <p>
            <img src="http://placehold.it/1200x400&text=About Us       " />
        </p>
    </div>        
</div>

<div class="row">
    <div class="col-lg-8">
        <h4>This is a content section.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <p><a href="#" class="secondary small btn">Next Page &rarr;</a></p>
    </div>
    <div class="col-lg-4">
        <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
        <ul class="">
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
            <li><a href="#">
                    <img src="http://placehold.it/120x120" /></a></li>
        </ul>
    </div>
</div>

<!-- Call to Action Panel -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel container-fluid">
            <h4>Get in touch!</h4>
            <div class="row">
                <div class="col-lg-9">
                    <p>We'd love to hear from you, you attractive person you.</p>
                </div>
                <div class="col-lg-3">
                    <a href="/contact" class="radius btn btn-primary pull-right">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>