@using DirigoEdgeCore.Utils
@{
    ViewBag.Title = "Page Not Found";

    string htmlContent = "<h1>500</h1>";
    var page = CachedObjects.GetCacheContentPages().FirstOrDefault(x => x.Permalink == "500");

    if (page != null)
    {
        htmlContent = page.HTMLContentFormatted;
    }
    
}

@Html.Raw(htmlContent)
